<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qg.mapper.QgGoodsTempStockMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO qg_goods_temp_stock
        (goodsId,userId,status,createdTime, updatedTime)
        VALUES
        (#{goodsId},#{userId},#{status},#{createdTime},#{updatedTime})
    </insert>
    <update id="update">
        update qg_goods_temp_stock set status = #{status} where id =#{id}
    </update>
</mapper>