<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.qg.mapper.tempstock.QgGoodsTempStockMapper">
   
    <insert id="qdtxAddQgGoodsTempStock" useGeneratedKeys="true" keyProperty="id" >
        insert into qg_goods_temp_stock
        (id,
        goodsId,
        userId,
        status,
        createdTime,
        updatedTime
        )
        values
        (null,
        #{goodsId},
        #{userId},
        #{status},
        #{createdTime},
        #{updatedTime}
        )
    </insert>

    <update id="qdtxModifyQgGoodsTempStock">
        UPDATE qg_goods_temp_stock
        <set>
            <if test="status!=null">STATUS = #{status},</if>
            updatedTime = now()
    </set>
        <where> id = #{id} </where>

    </update>

</mapper>