<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.qg.mapper.user.QgUserMapper">
    <select id="getQgUserById" resultType="QgUser">
        select id,phone,password,wxUserId,realName
        from qg_user
        where id=#{id}
    </select>

    <select id="getQgUserListByMap" resultType="QgUser">
        select id,phone,password,wxUserId,realName
        from qg_user
        <where>
            <if test="id!=null"> and id=#{id}</if>
            <if test="phone!=null"> and phone=#{phone}</if>
            <if test="password!=null"> and password=#{password}</if>
            <if test="wxUserId!=null"> and wxUserId=#{wxUserId}</if>
            <if test="realName!=null"> and realName=#{realName}</if>
        </where>
        <if test="orderby!=null">order by ${orderby}</if>
        <if test="from!=null">limit #{from},${to}</if>
    </select>

    <select id="getQgUserCountByMap" resultType="int">
        select count(1)
        from qg_user
        <where>
            <if test="id!=null"> and id=#{id}</if>
            <if test="phone!=null"> and phone=#{phone}</if>
            <if test="password!=null"> and password=#{password}</if>
            <if test="wxUserId!=null"> and wxUserId=#{wxUserId}</if>
            <if test="realName!=null"> and realName=#{realName}</if>
        </where>
    </select>

    <insert id="qdtxAddQgUser">
        insert into qg_user(
        id,
        phone,
        password,
        wxUserId,
        realName,
        createdTime,
        updatedTime)
        values(
        #{id},
        #{phone},
        #{password},
        #{wxUserId},
        #{realName},
        #{createdTime},
        #{updatedTime})
    </insert>

    <update id="qdtxModifyQgUser">
        update qg_user
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="phone != null and phone!=''">
                phone=#{phone},
            </if>
            <if test="password != null and password!=''">
                password=#{password},
            </if>
            <if test="wxUserId != null and wxUserId!=''">
                wxUserId=#{wxUserId},
            </if>
            <if test="realName != null and realName!=''">
                realName=#{realName},
            </if>
            <if test="createdTime != null and createdTime!=''">
                createdTime=#{createdTime},
            </if>
            <if test="updatedTime != null and updatedTime!=''">
                updatedTime=#{updatedTime}
            </if>
        </trim>
    </update>

    <delete id="qdtxDeleteQgUserById">
        delete from qg_user where id = #{id}
    </delete>

    <select id="queryQgUserByPhone" resultType="QgUser">
        select id,phone,wxUserId,realName,createdTime,updatedTime,password
        from qg_user
        where phone=#{phone}
    </select>
</mapper>